@import "tailwindcss";

html {
  /* scroll-behavior: smooth; */
}

* {
  transition: all 0.2s ease-in-out;
}

body {
  font-weight: lighter;
}

.tooltip {
  visibility: hidden;
  position: absolute;
}

.has-tooltip:hover .tooltip {
  z-index: 50;
  visibility: visible;
}

/* header component */
.sidebar-video-grid {
  display: grid;
  grid-template-columns: minmax(200px, 15%) minmax(50%, 85%);
}

/* header component */
.minimize-sidebar {
  display: grid;
  grid-template-columns: minmax(100px, 6%) minmax(50%, 94%);
}

@media only screen and (max-width: 650px) {
  .sidebar-video-grid {
    display: grid;
    grid-template-columns: minmax(100px, 6%) minmax(50%, 94%);
  }
}

/* hide scrollbar */
.category::-webkit-scrollbar {
  display: none;
}

/* video page */
.video-page {
  display: grid;
  grid-template-columns: 65% 30%;
  padding: 2rem;
  gap: 2rem;
  justify-content: center;
}

@media only screen and (max-width: 1200px) {
  .video-page {
    display: grid;
    grid-template-columns: 1fr;
    padding: 2rem;
    gap: 2rem;
    justify-content: center;
  }
}

button:hover {
  cursor: pointer;
}
